  <div class="text-center">
    <h1 class="text-primary">Findify</h1>
    <h2 class="text-secondary">Finde deine Produkte -  Findify navigiert dich hin!</h2>

    <br><br>
    <div>
      <h3>Einkaufsliste</h3>
      <ul class="list-group">
        <li class="list-group-item" [ngClass]="activeProduct == i ? 'active' : ''" *ngFor="let product of products; let i = index">
          {{product}} <button type="button" (click)="delete(i)" class="btn btn-light">❌</button>
        </li>
    </ul>
    </div>
    <br>
    <div>
      <input type="text" #product>
      <button type="button" (click)="addProduct(product.value); product.value=null" class="btn btn-primary">Hinzufügen</button>
    </div>

    <br><br>
    <div *ngIf="products.length != 0">
        <button type="button" (click)="back()" class="btn btn-primary">Zurück</button>
        <button type="button" (click)="next()" class="btn btn-primary">Nächster</button>
    </div>
  </div>
  <br><br>
  <div *ngIf="products.length != 0" class="row">
    <div class="col-xs-12 col-md-8"><img id="map" width="855"></div>
    <div class="col-xs-6 col-md-4">
      <h2>Product info</h2>
      Name: {{currentProduct.name}}<br>
      Description: {{currentProduct.description}}<br>
      Quantity: {{currentProduct.quantity}}<br>
    </div>
  </div>
